[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pyrebase4 = "*"
pillow = "*"
whitenoise = "*"
razorpay = "*"
joblib = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
scikit-learn = "==0.20.4"
flask = "*"
pickle-mixin = "*"
scipy = "*"

[requires]
python_version = "3.7"
