{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Health</title>
    <meta name="description" content="">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Smart Health</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Medicines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Blood Bank</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <div class="row">
            {% for hospital in hospitals %}
            <div class="col-sm-6">
                <div class="card mb-3 border-dark text-dark bg-light" style="max-width: 480px; margin-top: 40px;">
                    <img src="{{ hospital.image.url }}" class="card-img-top" alt="Hospital Image"
                        style="width: 454px; height:200px">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ hospital.name }}</h5>
                        <p class="card-text bg-warning text-dark bg-gradient">Location : {{ hospital.location }}</p>
                        <p class="card-text text-success">Beds Available : {{ hospital.beds_available }}</p>
                        <p class="card-text text-success">Doctors Available : {{ hospital.doctors_available }}</p>
                        <a href="#" class="btn btn-info">Reserve Bed</a>
                        <a href="{% url 'view_hospital' hospital.id %}" class="btn btn-outline-danger">More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>