<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Consult</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <section class="container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'hospital_home' %}">Smart Health</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'profile' %}">Hi, {{ user.email }}</a>
                        </li>
                        <li><a href="{% url 'signout' %}" onclick="$('#signOutBtn').click()" class="nav-link">Logout</a>
                            <form style='display: none;' method="POST" action="{% url 'signout' %}">
                                {% csrf_token %}
                                <button id="signOutBtn" type="submit">Logout</button>
                            </form>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Logout</a>
                        </li> -->
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'signin' %}">Login</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <form style="margin-top: 80px;" action="{% url 'appointment' doctor.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                            placeholder="Enter Name" required>
                    </div><br>
                    <div class="form-group">
                        <input class="form-check-input" type="radio" name="gender" id="Male" value="Male" required>
                        <label class="form-check-label" for="Male">
                            Male
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="radio" name="gender" id="Female" value="Female" required>
                        <label class="form-check-label" for="Female">
                            Female
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="radio" name="gender" id="Transgender" value="Transgender"
                            required>
                        <label class="form-check-label" for="Transgender">
                            Transgender
                        </label>
                    </div><br>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" name="age" class="form-control" id="age" aria-describedby="emailHelp"
                            placeholder="Enter Age" required>
                    </div><br>
                    <div class="form-group">
                        <label for="query">Query</label>
                        <input type="text" name="query" class="form-control" id="query" aria-describedby="emailHelp"
                            placeholder="Enter Your Query" required>

                    </div><br>
                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input type="text" name="mobile" class="form-control" id="mobile" aria-describedby="emailHelp"
                            placeholder="Enter Your Mobile Number" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your mobile number with
                            anyone
                            else.</small>
                    </div><br>

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </section>
        </section>
    </section>
</body>

</html>